{{#each tasks as |task|}}
<div class="row col-lg-4 col-md-12" style="padding: 30px 10px; text-align: center;">
  <div class="card" style="width: 18rem; background-color: #ffff88;">
  <section data-id="{{task.id}}">
    <div style="display: inline-block;">
    <button data-id="{{task.id}}" class="btn btn-outline-danger delete-task"
      style="width: 30px; height: 30px; padding: 0; border: 0;">x</button>
    </div>
    <div style="margin-left: 200px;display: inline-block;">
    <h5 style="width: 50px; height: 30px; margin: 0">#{{task.id}}</h5>
    </div>
    <h5>Start Date: {{start_date}}</h5>
    <h5>End Date: {{end_date}}</h5>
    {{#if priority}}
    <h5>Priority: {{priority}}</h5>
    {{/if}}
    <h5>Task: {{description}}</h5>
    <!-- {{> partial}} -->
  </section>
  <div style="text-align: center">
<button data-id="{{task.id}}"
      class="btn btn-outline-info btn-sm update-task"
      style="padding: 4px; width: 5rem;"
      data-toggle="modal" data-target="#myModal2">Edit</button>
    </div>
  </div>
</div>
{{/each}}
